<section id="experience" class="page__content">
  <h2 class="page__title">EXPERIENCE</h2>
  <div class="entries-list">
    {% for exp in site.data.experience %}
    <div class="list__item">
      <article class="archive__item">
        <h3 class="archive__item-title no_toc">{{ exp.title }}</h3>
        <p class="page__meta">
          <i class="fas fa-fw fa-building"></i> {{ exp.organization }} &nbsp;|&nbsp;
          <i class="fas fa-fw fa-calendar-alt"></i> {{ exp.date }}
        </p>
        <p class="archive__item-excerpt exp-description">{{ exp.description }}</p>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
